html{
    background-color: #242424 ;
}
h1 {
font-family: "Press Start 2P", system-ui;  
}
 h1{
    color: white;
    padding: 20px;
 }

 h2{
    color: white;
    padding: 20px;
 }

p{
    color: gray;
}

li{
color: gray;
}